---
import Star from '../assets/images/estrella.png';

// Review.astro
interface Props {
  name: string;
  image: string;
  rating: number;
}

const { name, image, rating } = Astro.props;
const stars = Array.from({ length: rating }, (_, i) => i + 1);
---

<div class="flex flex-col p-5 bg-white rounded-lg shadow-xl">
 <div class="flex items-center">
   <img src={image} alt={name} class="w-12 h-12 rounded-full">
   <h2 class="text-xl font-bold ml-3">{name}</h2>
 </div>
  <p class="text-gray-500 py-4">
    <slot></slot>
  </p>

  <div class="flex justify-end">
    
    <div>
      <div class="flex items-center">
        <span class="text-xl font-bold ml-2">{rating}.0</span>
        <div class="flex ml-2">
             {stars.map(() => (
                <img src={Star.src} alt="Star" class="w-4 h-4" />
              ))}
        </div>
      </div>
    </div>
    
  </div>
</div>
