---
import Review from "../components/Review.astro";
import Rodrigo from "../assets/images/rodrigo.png";
import Ricardo from "../assets/images/ricardo.png";
import Siom from "../assets/images/siom.png";
import Maberri from "../assets/images/maberri.png";
import Nicoprudencio from "../assets/images/nicoprudencio.png";
import Dimbel from "../assets/images/dimbel.png";
---

<section class="bg-pattern-1">
  <div class="container mx-auto flex flex-col md:flex-row py-2 md:py-[50px]">
    <div class="w-full md:w-1/2 p-3">
      <div class="flex flex-col space-y-8">
        <div>
          <Review name="Rodrigo Cortes" image={Rodrigo.src} rating={5}>
            Hola a todos! Llevo ya varios años trabajando con DATAPRO y hasta el
            día de hoy nos han apoyado en todo lo que es licenciamiento y
            consultas para poder trabajar en modo híbrido.
          </Review>
        </div>

        <div>
          <Review name="Ricardo Peralta" image={Ricardo.src} rating={5}>
            Totalmente recomendados, secos con redes sociales y hacen websites
            super cool, desde que trabajo con ellos mis visitas y nuevos
            clientes han aumentado considerablemente. gracias Datapro team!!
          </Review>
        </div>

        <div>
          <Review name="Siom Mineria" image={Siom.src} rating={5}>
            Los desarrolladores web de este equipo son simplemente excelentes. Su atención al detalle, creatividad y capacidad para convertir nuestras ideas en realidad superan nuestras expectativas en cada proyecto. 
          </Review>
        </div>
      </div>
    </div>
    <div class="w-full md:w-1/2 p-3">
      <div class="flex flex-col space-y-8">
        <div >
          <Review name="Nico Prudencio" image={Nicoprudencio.src} rating={5}>
            Resultados muy rápidos y atención personalizada de calidad superior! Lo recomiendo 100% para quienes quieran montar un negocio desde cero o también para adaptar una plataforma existente a un software nuevo.
          </Review>
        </div>

        <div>
          <Review name="ma Berri" image={Maberri.src} rating={5}>
            Servicio confiable, serio y profesional. tienen experiencia y eso se nota en sus resultados.
            el gerente es muy amable y se encarga personalmente de asegurar el servicio.
          </Review>
        </div>

        <div>
          <Review name="Alex Bernhard, Dimbel Ltda" image={Dimbel.src} rating={5}>
            Su capacidad para entender nuestras necesidades y ofrecer soluciones adaptadas a nuestros objetivos nos ha impresionado profundamente. Además, su atención al cliente y la calidad del servicio son inmejorables. 
          </Review>
        </div>
      </div>
    </div>
  </div>
</section>
