---
import Review from "../components/Review.astro";
import Rodrigo from "../assets/images/rodrigo.png";
import Ricardo from "../assets/images/ricardo.png";
import Siom from "../assets/images/siom.png";
import Semicolon from "../assets/images/bxs_quote-right.png";
---

<section class="bg-pattern-1">
  <div class="container mx-auto flex flex-col md:flex-row py-2 md:py-[100px]">
    <div class="w-full md:w-1/2">
      <div class="flex flex-col space-y-8">
        <div class="mr-0 md:mr-10">
          <Review name="Rodrigo Cortes" image={Rodrigo.src} rating={5}>
            Hola a todos! Llevo ya varios años trabajando con DATAPRO y hasta el
            día de hoy no ha apoyado en todo lo que es licenciamiento y
            consultas para poder trabajar en modo híbrido y hacer de la
            plataforma un lugar transparente para los usuarios que necesitan
            coexistir en ambos mundos.
          </Review>
        </div>

        <div class="ml-0 md:ml-20">
          <Review name="Ricardo Peralta" image={Ricardo.src} rating={5}>
            Totalmente recomendados, secos con redes sociales y hacen websites
            super cool, desde que trabajo con ellos mis visitas y nuevos
            clientes han aumentado considerablemente. gracias Datapro team!!
          </Review>
        </div>

        <div class="mr-0 md:mr-10">
          <Review name="Siom Mineria" image={Siom.src} rating={5}>
            Totalmente recomendados, secos con redes sociales y hacen websites
            super cool, desde que trabajo con ellos mis visitas y nuevos
            clientes han aumentado considerablemente. gracias Datapro team!!
          </Review>
        </div>
      </div>
    </div>
    <div class="w-full md:w-1/2">
      <div class="flex justify-center items-center h-full relative">
        <img
          src={Semicolon.src}
          alt="semicolon"
          class="absolute top-20 left-20"
        />
        <h3
          class="text-gray-900 text-xl font-bold px-10 md:px-[100px] md:text-6xl"
        >
          Lo que dicen los <span class="text-primary leading-9">clientes</span> de nosotros...
        </h3>
        <img
          src={Semicolon.src}
          alt="semicolon"
          class="absolute bottom-24 right-44 rotate-180"
        />
      </div>
    </div>
  </div>
</section>
